.favorites {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 50px;
}

.favorites .results {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.favorites h2 {
  font-weight: 700;
  font-size: 2rem;
}
