header {
  display: flex;
  font-size: 2rem;
  font-weight: 300;
  background-color: #1f1f1f;
  color: #ffffff;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}

header ul {
  display: flex;
}

header ul li {
  margin-right: 30px;
}

header img {
  height: 30px;
}

header .login:hover {
  cursor: pointer;
}

header ul .isSelected {
  background-color: red;
}
