:root {
  --color-red: #ed161f;
  --color-black: #202020;
  --color-white: #ffffff;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:link {
  color: inherit;
}
a:visited {
  color: inherit;
}
a:hover {
  color: inherit;
}
a:active {
  color: inherit;
}

.formSearch {
  background-color: #ed161f;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.formSearch input {
  padding: 5px;
  border: none;
  background-color: #1e1e1e;
  color: white;
  font-size: 1.5rem;
  width: 400px;
  text-align: center;
}

.formSearch button {
}
